@use 'main';
@forward 'mixins';
@use 'mixins' as *;

.project{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 2rem;
    margin: 0 auto;
    overflow: hidden;
    @include flex (flex, start, center, column nowrap);
    
    .project-title{
        width: 100%;
        margin: 0 auto;
        @include flex (flex, center, center, row nowrap);

        h1{
            width: 95%;
            border-bottom: 1px solid;
            @include font ('Voyage', 3rem, normal);
            @include flex (flex, space-between, center, row nowrap);
        }

        .project-triangle{
            width: 2rem;
            height: 2rem;
            background-color: black;
            position: relative;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
    }

    .project-container{
        width: 92%;
        height: 5rem;
        overflow: hidden;
        max-width: 1100px;
        padding: 1rem 2rem 2rem 2rem;
        border: 1px solid black;
        margin-top: 3rem;
        box-shadow: rgba(0, 0, 0, 1) 5px 5px 1px;
        
        h2{
            @include font ('Voyage', 2.2rem, normal);
            width: 100%;
            padding: .5rem;
            margin-bottom: 2rem;
            overflow: hidden;
            
            button{
                width: 100%;
                text-align: left;
            }
        }

        p{
            @include font ('Poppins', 1.2rem, normal);
            margin-bottom: 2rem;
        }
        
        h3{
            @include font ('Poppins', 1.2rem, bold);
        }

        .github{
            @include font ('Poppins', 1.2rem, normal);
            padding: 1rem;
            position: relative;
            right: calc(207px - 100%);
            border: 1px solid white;
            box-shadow: rgb(255, 255, 255) 5px 5px 1px;
            color: white;
        }
    }
}